<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Change Password</title>
  </head>
  <body>
    <h4>Hello {{username}}!</h4>
    <p>We're {{company}}.</p>
    <p>
      Please use the number bellow as a token to change your password
    </p>
    <h3>{{numberToken}}</h3>
    <p>Thank you.</p>
  </body>
</html>
